/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}


body {
  margin: 0;
}

h1,
h2,
h3,
h4,
p,
blockquote,
ol,
ul {
  margin: 0;
  padding: 0;
}

main {
  display: block;
}

h1,
h2,
h3,
h4 {
  font-size: inherit;
}

a,
button {
  color: inherit;
  transition: .3s;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  border: 0;
  height: auto;
}