html, body {
  height: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(252, 250, 243);
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.timer {
  flex: 1;
  font-size: 1.8rem;
  padding: 2rem;
}

.timer__form {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-self: center;
}

.timer-countdown {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 3em;
}

form p {
  margin-bottom: 1rem;
}

.unit {
  color: gray;
  font-size: 0.7em;
}

.time-remaining {
  width: 100%;
  text-align: center;
  transition: all .4s linear;
}

.timer__input {
  /* padding: 0.3rem; */
  font-size: 1.3em;
  width: 1.8em;
  border: none;
  border-bottom: 4px dotted gray;
  background-color: rgb(252, 250, 243);
  color: #3c3939;
  transition: border 700ms ease;
}

.timer__input:focus {
  /* outline: 3px solid salmon; */
  border-bottom: 4px dotted #3c3939;
}

.fullscreen-span {
  font-size: 1rem;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  cursor: pointer;
}

svg {
  display: block;
  height: 50%;
  background-color: rgb(252, 250, 243);
}

#cup {
  stroke-width: 20px;
  stroke: black;
}

#cup-gap {
  stroke-opacity: 1;
  fill: url(#beerGradient);
  stroke: white;
  stroke-width: 1px;
}

#cup-reflection {
  fill: white;
}

#cup-empty-space {
  -webkit-clip-path: url(#mask);
  clip-path: url(#mask);
  fill: white;
  transition: all 2.7s ease-out;
}

.start-button {
  cursor: pointer;
  font-size: inherit;
  display: block;
  margin: 0 auto;
  color: white;
  background-color: #865cd6;
  border: none;
  padding: 6px 22px;
  border-radius: 5px;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2), 
              0px 2px 2px 0px rgba(0, 0, 0, 0.14), 
              0px 3px 1px -2px rgba(0, 0, 0, 0);  
}

.refill-button {
  cursor: pointer;
  font-size: inherit;
  display: block;
  margin: 0 auto;
  color: white;
  background-color: #865cd6;
  border: none;
  padding: 6px 22px;
  border-radius: 5px;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2), 
              0px 2px 2px 0px rgba(0, 0, 0, 0.14), 
              0px 3px 1px -2px rgba(0, 0, 0, 0);  
}

.hide {
  display: none;
}



@media (min-width: 32em) {

  .container {
    flex-direction: row;
  }

  svg {
    width: 45%;
    height: 100%;
  }

}

@media (min-width: 36em) {
  .timer {
    font-size: 2.2rem;
  }
}

@media (min-width: 56em) {

  svg {
    width: 50%;
  }

  .timer {
    font-size: 3.4rem;
  }

  .time-countdown {
    font-size: 10em;
  }  
  
}

.warning {
  color: red;
  font-size: 1.8em;
}

